body{
    margin: 0;
    padding: 0;
    top: 0;
    overflow-x: hidden;
    text-align: center;
    background-image:url("./img/norris03.jpg");
    color: white;
    font-size: 2vw;
    background-attachment: fixed;
    background-size: 100vw;
    font-family: Arial;
}
.button{
    border-width: 2px;
    border-style: solid;
    width: 10vw;
    padding-top: 0.5vw;
    height: 2.2vw;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgb(0, 0, 0, 0.5);
    font-size: 1.5vw;
}
.button:hover{
    cursor: pointer;
}
#innerMotherElement{
    position: absolute;
    top: 10vw;
    width: 100vw;
    display: grid;
    grid-template-rows: 15vh;
    grid-template-columns: 15vw 70vw 15vw;
}
#erg{
    grid-row: 1;
    grid-column: 2;
}
#selection{
    align-items: center;
    justify-content: center;
    height: 3vw;
    width: 10.1vw;
    grid-row: 3;
    grid-column: 3;
    text-align: center;
    font-size: 1vw;
}
#inputSearch{
    align-items: center;
    justify-content: center;
    height: 2.625vw;
    width: 10vw;
    grid-row: 1;
    grid-column: 4;
    text-align: center;
    margin-left: -0.12vw;
    font-size: 1vw;
}
#mother-element{
    position: absolute;
    top: 7vw;
    width: 100vw;
    display: grid;
    grid-template-rows: 3vw 3vw 2vw 3vw;
    grid-template-columns: 20vw 25vw 10vw 45vw;
}
#mother-element2{
    position: absolute;
    top: 10vw;
    width: 100vw;
    display: grid;
    grid-template-rows: 5vh;
    grid-template-columns: 34vw 10vw 1vw 10vw 1vw 10vw 34vw;
}
#next-button{
    grid-row: 1;
    grid-column: 6;
}
#last-button{
    grid-row: 1;
    grid-column: 2;
}
#button1{
    grid-row: 2;
    grid-column: 3;
}
#linkToSearchPage{
    text-decoration: none;
    color: white;
    width: 20vw;
}