* {
	margin  : 0;
	padding : 0;
}

body {
	background      : url("../img/background.png") fixed;
	background-size : 100vw;
	color           : white;
	font-family     : Arial, sans-serif;
	font-size       : 2vw;
	margin          : 0;
	overflow-x      : hidden;
	padding         : 0;
	text-align      : center;
	top             : 0;
}

.button {
	align-items      : center;
	background-color : rgba(0, 0, 0, 0.5);
	border-color     : rgb(0, 0, 0, 0.5);
	border-style     : solid;
	border-width     : 2px;
	color            : white;
	cursor           : pointer;
	font-size        : 1.5vw;
	height           : 2.2vw;
	justify-content  : center;
	padding-top      : 0.5vw;
	text-decoration  : none;
	user-select      : none;
	width            : 10vw;
}

nav {
	display        : flex;
	flex-direction : column;
	left           : 0;
	position       : absolute;
	top            : 0;
	width          : 10vw;
}

#resultBox {
	margin-left : 5vw;
	margin-top  : 5vh;
	text-align  : start;
	width       : 30vw;
}

#selection {
	align-items     : center;
	font-size       : 1vw;
	grid-column     : 3;
	grid-row        : 3;
	height          : 3vw;
	justify-content : center;
	text-align      : center;
	width           : 10.1vw;
}

#inputSearch {
	align-items      : center;
	background-color : rgba(0, 0, 0, 0.5);
	border           : none;
	font-size        : 1vw;
	grid-column      : 4;
	grid-row         : 1;
	height           : 2.625vw;
	justify-content  : center;
	margin-left      : -0.12vw;
	text-align       : center;
	width            : 10vw;
}

.pageWrapper {
	align-items    : start;
	display        : flex;
	flex-direction : column;
	position       : absolute;
	top            : 7vw;
	width          : 100vw;
}

#nextJokeButton {
	grid-column : 6;
	grid-row    : 1;
}

#lastJokeButton {
	grid-column : 2;
	grid-row    : 1;
}

#loadJokeButton {
	grid-column : 3;
	grid-row    : 2;
}

.input {
	align-items     : center;
	display         : flex;
	flex-direction  : row;
	height          : 15vh;
	justify-content : space-between;
	margin-left     : 5vw;
	width           : 30vw;
}

.searchInput {
	width: 40vw;
	margin-left: 0;
}

.jokeButton {
	color               : #FFFFFF;
	display             : block;
	font-size           : 20px;
	position            : relative;
	text-decoration     : none;
	transition-duration : .25s;
}

.jokeButton::before,
.jokeButton::after {
	background-color : #426C8C;
	content          : "";
	height           : 2px;
	left             : 0;
	position         : absolute;
	transform        : scale(0);
	transition       : transform 0.5s;
	width            : 100%;
}

.jokeButton::after {
	bottom           : -.3vh;
	left             : -.3vh;
	transform-origin : top;
}

.jokeButton::before {
	bottom           : -.3vh;
	left             : -.3vh;
	transform-origin : top;
}

.jokeButton:hover::before,
.jokeButton:hover::after {
	transform : scale(1);
}