/*SMARTPHONE STYLING*/

@media only screen and (max-width : 800px) {
	body {
		background-image : linear-gradient(90deg, rgb(6, 4, 7) 3%, rgb(27, 5, 57) 37%, rgba(27, 15, 94, 1) 55%, rgb(6, 2, 50) 100%);
		background-size  : 100vw;
		color            : white;
		font-family      : Arial, sans-serif;
		font-size        : 2vw;
		height           : 100vh;
		margin           : 0;
		overflow-x       : hidden;
		padding          : 0;
		text-align       : center;
		top              : 0;
	}

	h3 {
		font-size : 7vw;
	}

	#resultBox {
		margin-left : 5vw;
		text-align  : center;
		width       : 90vw;
	}

	#selection {
		background  : none;
		border      : none;
		color       : white;
		font-size   : 13.5vw;
		grid-column : 1 / 2;
		grid-row    : 1;
		height      : 15vw;
		padding     : 0;
		text-align  : center;
		width       : 100vw;
	}

	#inputSearch {
		align-items     : center;
		border          : none;
		color           : black;
		font-size       : 13.5vw;
		grid-column     : 1 / 2;
		grid-row        : 1;
		height          : 15vw;
		justify-content : center;
		padding         : 0;
		text-align      : center;
		width           : 100vw;
	}

	#nextJokeButton {
		grid-column : 2;
		grid-row    : 3;
	}

	#lastJokeButton {
		grid-column : 1;
		grid-row    : 3;
	}

	#loadJokeButton {
		grid-column : 1 / 2;
		grid-row    : 3;
		margin      : 0;
		width       : 100vw;
	}

	.input {
		align-items           : center;
		background-color      : rgba(0, 0, 0, 0.5);
		bottom                : 0;
		display               : grid;
		font-size             : 13vw;
		grid-column           : 1;
		grid-row              : 2;
		grid-template-columns : 50vw 50vw;
		grid-template-rows    : 15vw 1.2vw 15vw;
		position              : absolute;
		width                 : 100vw;
	}

	.input:hover, #selection:hover {
		cursor : pointer;
	}

	.pageWrapper {
		bottom                : 0;
		display               : grid;
		grid-template-columns : 100vw;
		grid-template-rows    : 120vw 31.2vw;
		position              : absolute;
		width                 : 100vw;
	}

	.jokeButton {
		color               : #FFFFFF;
		display             : block;
		position            : relative;
		text-decoration     : none;
		transition-duration : .25s;
	}

	.jokeButton::before,
	.jokeButton::after {
		background-color : #426C8C;
		content          : '';
		height           : 2px;
		left             : 0;
		position         : absolute;
		transform        : scale(0);
		transition       : transform 0.5s;
		width            : 100%;
	}

	.jokeButton::after {
		bottom           : -.3vh;
		left             : -.3vh;
		transform-origin : top;
	}

	.jokeButton::before {
		bottom           : -.3vh;
		left             : -.3vh;
		transform-origin : top;
	}

	.jokeButton:hover::before,
	.jokeButton:hover::after {
		transform : scale(1);
	}
}
