/*SMARTPHONE STYLING*/
@media only screen and (max-width : 800px) {
	.flex {
		display : flex;
	}

	.pc {
		display : none;
	}

	.mobile {
		display : flex;
	}

	body {
		background-color : #2C2C2C;
		color            : white;
		font-family      : Arial, sans-serif;
		font-size        : 2vw;
		height           : 90vh;
		margin           : 0;
		overflow-x       : hidden;
		padding          : 0;
		text-align       : center;
		top              : 0;
	}

	.background {
		display : none;
	}

	h3 {
		font-size : 7vw;
	}

	#resultBox {
		margin-left : 5vw;
		text-align  : center;
		width       : 90vw;
	}

	#selection {
		background  : none;
		border      : none;
		color       : white;
		font-size   : 13.5vw;
		grid-column : 1 / 2;
		grid-row    : 1;
		height      : 15vw;
		padding     : 0;
		text-align  : center;
		width       : 100vw;
	}

	.inputSearch {
		align-items     : center;
		border          : none;
		color           : black;
		font-size       : 13.5vw;
		grid-column     : 1 / 2;
		grid-row        : 1;
		height          : 15vw;
		justify-content : center;
		padding         : 0;
		text-align      : center;
		width           : 100vw;
	}

	.buttons {
		display         : flex;
		flex-direction  : row-reverse;
		justify-content : space-around;
	}

	#loadJokeButton {
		margin     : 0;
		text-align : center;
		width      : 100vw;
	}

	.titleBar {
		align-items      : center;
		background-color : #426C8C;
		display          : flex;
		flex-direction   : row;
		font-size        : 4vh;
		justify-content  : center;
		margin           : 0;
		padding          : .2vh;
		width            : 100vw;
	}

	.titleBar nav {
		width : 20vw;
	}

	.title {
		width : 80vw;
	}

	.input {
		align-items      : center;
		background-color : rgba(0, 0, 0, 0.5);
		bottom           : 0;
		flex-direction   : column-reverse;
		font-size        : 13vw;
		position         : absolute;
		width            : 100vw;
	}

	.input:hover, #selection:hover {
		cursor : pointer;
	}

	.pageWrapper {
		bottom                : 0;
		display               : grid;
		grid-template-columns : 100vw;
		grid-template-rows    : 120vw 31.2vw;
		position              : absolute;
		width                 : 100vw;
	}

	.lastJokeButton, .nextJokeButton {
		width : 50vw;
	}

	.jokeButton {
		display             : block;
		position            : relative;
		text-decoration     : none;
		transition-duration : .25s;
	}

	.jokeButton::before,
	.jokeButton::after {
		background-color : #426C8C;
		content          : "";
		height           : 2px;
		left             : 0;
		position         : absolute;
		transform        : scale(0);
		transition       : transform 0.5s;
		width            : 100%;
	}

	.jokeButton::after {
		bottom           : -.3vh;
		left             : -.3vh;
		transform-origin : top;
	}

	.jokeButton::before {
		bottom           : -.3vh;
		left             : -.3vh;
		transform-origin : top;
	}

	.jokeButton:hover::before,
	.jokeButton:hover::after {
		transform : scale(1);
	}
}
